.jumbotron {
    background: rgba(30, 115, 184, 0.658);
}

.title {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mainhead {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}