.jumbotron {
    background: rgba(30, 114, 184, 0.623);
}

.title {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mainhead {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}